<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <span class="separator">Dev Docs</span>
      </div>
      {{#if env.ALGOLIA_API_KEY}}
      <div class="navbar-item search hide-for-print">
        <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Projects</div>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>Core</strong></div>
            <a class="navbar-item" href="https://gitlab.com/antora/antora">Repository</a>
            <a class="navbar-item" href="https://gitlab.com/antora/antora/issues">Issue Tracker</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
